/* .App {
  text-align: center;
} */

.button-style {
  background-color: #cb8a90;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button-style:hover {
  background-color: white;
  color: black;
  border: 2px solid #cb8a90;
}

h2 {
  color: #2c3e50;
}
